@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Rock+Salt');

*{
	box-sizing: border-box;
}

body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	line-height: 1.5; 
	background-color: whitesmoke;
	color: black;
	font-family: monospace,sans-serif,serif;
	font-size: 18px;

}

p{
	padding: 1em;
}

article h2, content p{
	text-align: center;
}

a:active ,a:visited, a:link{
	text-decoration: none;
	color: black;
}

button{
    position: relative;
    animation-duration: 4s;
}

h1{
	text-align: center;
	font-size: 64px;
}

h2, h3{
	padding: 1em;
}

header h2{
	text-align: center;
}
footer{
	width: 100%;
	height: 100%;
	padding: 0.4em;
	background-color: #69aa3a;
}

/* YouTube */
iframe{
	border: 10px ridge red;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	width: auto;
	height: auto;
}

nav{
	text-decoration: none;
	width: 100%;
	background-color: cyan;
	border: 1px solid green;
}



nav a:active, nav a:visited{
	color: black;
	text-decoration: none;
}
nav a:hover{
	background-color: #003300;
}

nav ul{
	list-style: none;
	text-decoration: none;
	
}
nav ul li{
	text-decoration: none;
}
figure{
	height: auto;
	margin: 0;
	padding: 0;
	width: 100%;
}

img {
	display: flex;
	height: auto;
	width: 100%;
}

input {
  	display: none;
}

audio{
	display:block;
	margin-left: auto;
	margin-right: auto;
}

label {
	color: #0087cc;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	padding: 3px 7px;
	transition: all .5s ease;
	background-color: #FFF;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}
label:hover {
  	color: #ff7b29;
}
input:checked + label {
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
	color: #9799a7;
}

.mariotxt{
	font-family: 'Rock Salt', cursive;
	color: crimson;
}

.Hugleft {
	text-align: left;
}
.back{
	position: fixed;
	background-color: blue;
	z-index: 0;
	display: block;
	top: 100px;
	right: 100px;
}

.resize{
	margin-left: auto;
	margin-right: auto;
    height:auto;

}

.tengill{
	margin: 0;
	padding: 0;
}

.center{
	text-align: center;
}


.box{
	display: flex;
	flex-flow: row wrap;
}

.footertxt{
	text-align: center;
	font-weight: bold;
}

.topMenu{
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-flow: column;
	position: fixed;
	bottom: -15em;
	left: 0;
	z-index: 1;
}
	
.topMenu li{
	width: 100%;
	padding: 0.1em;
	background-color: #69aa3a;
}

.topMenu a{
	display: flex;
	flex-flow: column;
	text-align: center;
}
input:checked ~ nav .topMenu{
	position: fixed;
	bottom: 1.85em;
	left: 0;
	transition: all .5s ease;
}
.body{
	margin: auto;
}

.flexin{
	display: flex;
	flex-flow: row wrap;
}

.mainHeader{

	width: 100%;
	background-color: #35de10;
}

.mainContent{
	width: 100%;
	
}

.flexbot{
	display: flex;
	flex-flow: row;
	
	justify-content: center;
	justify-content: space-around;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}



.navigation nav{
	background-color: #FFF;
}
.button{
	border: 2px solid black;
}
.borderbox {
	border: 2px solid #408e2f;
	background-color: #69aa3a;
}


/* flex order */

.mainHeader {
	order: 1;
}

.mainContent {
	order: 2;
}

.firstSide{
	order: 3;

}

.secondSide{
	order: 4;
}

footer{
	order: 5;
}

nav{
	order: 6;
}



/*Mobile*/

@media screen and (min-width: 30em){
	.box{
		flex-flow: row;
	}	

	.firstSide{
		width: 50%;
	}

	.secondSide{
		width: 50%;
	}
}


/*spjald*/

@media screen and (min-width: 48em){

	nav a{
		padding: 10px;
	}
	label{
		display: none;
	}
	a{
		font-size: 70%;
		text-decoration: none;
	}

	.topMenu{
		margin: 0;
		padding: 0;
		width: 100%;
		flex-flow: row;
		position: static;
		bottom: 100em;
		left: 50em;
		font-size: 21px;
		font-weight: bold;
	}
	input:checked ~ .topMenu{
		position: fixed;
		bottom: 4em;
		left: 0;
		transition: all 1s ease;
	}
	.mainHeader{
		width: 100%;
	}

	.mainContent{
		width: 100%;
	}

	.firstSide{
		width: 50%;
		flex-wrap: wrap;
	}

	.secondSide{
		width: 50%;
		flex-wrap: wrap;
	}

	footer{
		width: 100%;
	}
	nav{
		order: 1;
	}
	nav ul li a{
		font-size: 1em;

		font-family: Garamond;
	}
	.mainHeader{
		order: 2;
	}
	/*bot*/
	.mainContent{
		padding-bottom: 5em;
		order: 3;
	}
	.firstSide{
		order: 4;
	}
	.secondSide{
		order: 5;
	}
	footer{
		order: 6;
	}
}
/* Holy grail */
@media screen and (min-width: 60em){
	a{
		font-size: 25px;
	}

	a:visited{
		color:purple;
	}

	a:link{
		color: blue;
	}

	a:hover {
		color: orange;
	}
	nav a:hover {
		color: orange;
	}

	h3{
		text-align: center;
	}

	iframe{
		width:41em;
		height:24em;
	}

	body{
		margin: 0 auto;
	}

	nav{
		order: 1;
	}

	footer{

		height: auto;
		width: 100%;
		order: 6;
	}

	.resize{
		width:540px; /* you can use % */
	}

	.mainHeader{
		width: 100%;
		order: 2;
	}

	.mainContent{
		
		width: 100%;
		order: 4;
	}

	.firstSide{
		border:10px ridge #69aa3a;
		background-color: #408e2f;
		float: left;
		width: 50%;
		order: 3;
	}

	.secondSide{
		border:10px ridge #408e2f;
		background-color: #69aa3a;
		width: 50%;
		float: right;
		order: 5;
	}


	.bothclear{
		float: right;
	}

	.picsize{
		margin-left: auto;
		margin-right: auto;
		height: auto;
		width: auto;
    	height: 150px;
    	width: 150px;
	}
	
	.gifposition{
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
		height: auto;
		width: auto;
    	width: 400px;
	}

	.parallaxnmeitt{
		background-image: url("../img/reptilian.gif");

		height: 500px;

		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.parallaxnmtvo{
		background-image: url("../img/david.jpg");

		height: 500px;

		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.parallaxnmthrju{
		background-image: url("../img/illuminati.jpg");

		height: 500px;

		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.navbar {
	    overflow: hidden;
	    background: rgba(153, 153, 153, 0.4);
	    position: fixed; /* Set the navbar to fixed position */
	    top: 0; /* Position the navbar at the top of the page */
	    width: 100%; /* Full width */
	}

	.navbar a {
	    float: right;
	    display: block;
	    color: #f2f2f2;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	}
}

